<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">Shopping App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">

            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-success btn-sm ml-3" href="/home">Shopping
              </a>
              <a class="btn btn-dark btn-sm ml-3" href="/logout"> Logout</a>
            </form>
        </div>
    </div>
</nav>
<div>
</div> -->

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header text-center">Shopping Cart</div>
  <div class="card-body">
      <h5 class="card-title">Total: Rs. {{total}}</h5>
      <hr>
      <h6 class="card-title">Items bought:</h6>

      <ul>
          <li *ngFor="let cartProduct of cartProducts">
              {{ cartProduct.name }} - {{ cartProduct.quantity}} pcs. - Rs. {{ cartProduct.price}}
          </li>
      </ul>

      <button class="btn btn-light btn-block" (click)="finishOrder()"
           [disabled]="cartProducts.length == 0">Checkout</button>
  </div>
</div>
